FACTUS_ENV=production
# Override opcional de host base:
# FACTUS_API_URL=https://api.factus.com.co

FACTUS_AUTH_PATH=/oauth/token
FACTUS_NUMBERING_RANGES_PATH=/v1/numbering-ranges
FACTUS_INVOICE_PATH=/v1/bills/validate
FACTUS_CREDIT_NOTE_PATH=/v1/credit-notes/validate
